<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Index</title>
    </head>
    <body>
        <script src="/socket.io/socket.io.js"></script>
        <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
        <form action='/userInfo/sign_in' method='POST'>
            <input type='text' id='un' name='user_id' placeholder='Input id'><br>
            <input type='password' id='pw' name='user_pw'><br>
            <input type='submit' value='Sign in'>
        </form>
        <button onclick="window.location='/userInfo/sign_up';">Sign up</button>
        <p><%= err_msg %></p>
        <img src="https://d2bf187k2967hr.cloudfront.net/static_files/post/2020-07-12 05:20:51.421831_48ca777a6809cf22d5cae1c2e0182c8c_5eccbaa5570ff10928502993.png">
    </body>
</html>